<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>


  <div class="position-relative overflow-hidden">
    <div class="d-flex min-vh-100" lc-helper="video-bg">
      <video style="z-index:1;object-fit: cover; object-position: 50% 50%;" class="position-absolute w-100 min-vh-100"
        autoplay="" preload="" muted="" loop="" playsinline="">
        <!-- adjust object-position to tweak cropping on mobile -->
        <source src="/static/images/hero.mp4" type="video/mp4">
      </video>
      <div style="z-index:1" class="align-self-center text-center text-light col-md-8 offset-md-2">
        <div class="lc-block mb-4">
          <div editable="rich">
            <h1 style="color:rgb(117, 182, 182);font-family: 'Signika', sans-serif;" class="display-3 fw-bolder">Prosper
              with ESGO
            </h1>
          </div>
        </div>

        <div class="lc-block">
          <div editable="rich">
            <p class="lead"> The only ESG data management tool you'll ever need to make your best moves on your ESG
              investments. </p>
            <p class="lead">Plan > Manage > Report > Invest > Grow
            </p>
            <p class="lead">
            <h3 class="display-7 fw-bolder"> More ESG Opportunities = Higher ROI</h3>

            </p>
          </div>
        </div>

        <div class="lc-block" style="color:teal">
          <a href="#scroll" style="color:white">
            <svg onclick="$(this.closest('section').nextElementSibling.scrollIntoView({ behavior: 'smooth'  });"
              width="4em" height="7em" viewBox="0 0 16 16" lc-helper="svg-icon" fill="teal"
              xmlns="http://www.w3.org/2000/svg" style="--darkreader-inline-fill: currentColor; "
              data-darkreader-inline-fill="">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z">
              </path>
              <path fill-rule="evenodd"
                d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <a name="scroll"></a>
  </div>


  <div id="cards_landscape_wrap-2" style="background-color: rgb(5, 81, 81);">
    <div class="container" style="margin-top:-5px ">

      <h2 class="text-center" style="color:antiquewhite;font-family: 'Signika', sans-serif;">
        A unique combination of blockchain’s traceability and gamification techniques used in planning, tracking and
        achieving your ESG
        milestones in one platform!
      </h2>
      <i class="fa-thin fa-tree-palm"></i>
    </div>
  </div>
  <br /><br />



  <div class="container">
    <div class="container-fluid p-0 overflow-hidden">
      <div class="row g-0">
        <div lc-helper="background" class="col-lg-6"
          style="min-height: 45vh; border-radius: 20px; box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
        background-size: cover;background-position: center; background-image: url('https://wallpapercave.com/wp/wp6560668.jpg');">
        </div>
        <div class="col-lg-6 my-auto px-5 py-5">
          <div class="lc-block">
            <div editable="rich">
              <h2 style="color:teal;font-family: 'Signika', sans-serif;">What can you do with ESGO?</h2>

              <ol>
                <li class=""><span href="#">Manage and engage with your team through gamification and get them on
                    board for your ESG execution.</span></li>
                <li class=""><span href="#">ESG Report generated with AI - getting you ready to comply with SEC
                    guideline </span></li>
                <li class=""><span href="#">ESG score analytics to help you decide the best investment
                    options.</span></li>
                <li class=""><span href="#">Compare your performance with benchmarks and industry standards.</span></li>
              </ol>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-left">
    <img id="modal-img-left" src="/static/images/ESGO.png" alt="">
  </div>
  <div class="modal-right">
    <img id="modal-img-right" src="/static/images/ESGO.png" alt="">
  </div>


  <!-- Topic Cards -->

  <div id="cards_landscape_wrap-2">
    <div class="container">

      <h1 class="text-center" style="color:teal;font-family: 'Signika', sans-serif; ">
        A unique combination of features
      </h1>
      <div class="row" style="justify-content:center; display: flex">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="/static/images/plan.png" alt="" />
                </div>
                <div class="text-container">
                  <h6>Plan</h6>
                  <p>Plan all your ESG goals using our many customizable tools and templates. Planning has never been
                    easier.You can get inputs from others as you outline ESG plans.</p>

                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="/static/images/track.png" alt="" />
                </div>
                <div class="text-container">
                  <h6>Track</h6>
                  <p>Track your progress and get everyone in the company involved. Track against industry standards and
                    benchmarks to see how you are performing. </p>
                  <br />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="/static/images/report.png" alt="" />
                </div>

                <div class="text-container">
                  <h6>Report</h6>
                  <p>Report and share your ESG goals through clear and stunning visuals. Our responsibly
                    trained AI and machine learning models produce accurate graphs that can be used for reporting </p>

                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <a href="">
            <div class="card-flyer">
              <div class="text-box">
                <div class="image-box">
                  <img src="/static/images/reward.png" alt="" />
                </div>

                <div class="text-container">
                  <h6>Reward</h6>
                  <p>As employees in the company achieves goals and milestones, they earn rewards. Our platform allows
                    the option for the rewards to be traded for NFTs as well if you choose to do so! </p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="row g-0" style="margin-top:100px">
          <div lc-helper="background" class="col-lg-6 order-lg-2 banner"
            style="min-height: 45vh; border-radius: 20px; 
        background-size: cover;background-position: center; background-image: url('https://wallpapercave.com/wp/wp2691422.jpg');">

          </div>
          <div class="col-lg-6 order-lg-1 my-auto px-5 py-5">
            <div class="lc-block">
              <div editable="rich">
                <h2 style="color:teal;font-family: 'Signika', sans-serif;">Security Features</h2>
                <p class="lead">
                  <span>
                    Cybersecurity is important to us and as a team and we are constantly staying up to date with the
                    latest and greatest security measures in place to protect data.
                  </span>
                <ol>
                  <li class=""><span href="#">Browser Validation</span></li>
                  <li class=""><span href="#">Multifactor Authentication </span></li>
                  <li class=""><span href="#">IP Address Restriction </span></li>
                  <li class=""><span href="#">Multifactor authentication using Duo authenticator</span></li>
                  <li class=""><span href="#">Using Auth0 for sign in features</span></li>
                  </li>
                </ol>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container" style="padding:70px 0;">
    <h1 class="text-left" style="color:teal; font-size:50px;font-family: 'Signika', sans-serif; color">
      Together we can achieve NetZero by 2030
    </h1>
  </div>





  <script async="" src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js"></script>


</body>

</html>
